a {
    font-family:'Garamond', Tserif;
}

h1 {
    text-align: center;
    font-size: 70px;
}

.pma {
    font-family:'Garamond', Tserif;
}
.dawgs {
    font-family:'Garamond', Tserif;
    color: #CC0000;
}