* {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

input[type="email"], input[type="text"], textarea {
    background: #FEFEFE;
    border: 1px solid rgba(40, 42, 43, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

input[type="text"], input[type="email"] {
    height: 20px;
    width: 100%;
}

.text {
    display: flex;
    align-items: center;

    color: #000000;
}

div#pane {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 85%;
    margin: auto;
}

section {
    display: inline;
    margin-top: 50px;
}

section#right-side {
    width: 45%;
}

textarea {
    width: 100%;
    height: 170px;
    display: inline-block;
    resize: none;
}

.svg-img {
    width: 25px;
    height: 25px;
    display: block;
}

.right-col {
    width: 100px;
}

.left-col {
    text-align: center;
}

table {
    height: 90%;
}

a.middle-text {
    transition: 300ms;
    text-decoration: none;
    color: black;
}

a.middle-text:hover {
    transition: 300ms;
    text-decoration: underline;
    text-decoration-color: #CC0000;
}