h1 {
    text-align: center;
    font-size: 70px;
}

img#bigLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    background: #FEFEFE;
    width: 37%;
    /* max-width: 600px; */
}

div#pane {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 85%;
    margin: auto;
}

section {
    display: inline;
    margin-top: 20px;
}

.para {
    font-family:'Garamond', Tserif;
    font-size: 40px;
    text-align: center;
}