/* Rectangle 6 */
div#container {
    position: absolute;
    width: 346px;
    height: 165px;
    left: 205px;
    top: 198px;
    
    background: #FEFEFE;
    mix-blend-mode: darken;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* white_bg_sinfonia */
#back {
position: absolute;
width: 118px;
height: 141px;
left: 326px;
top: 99px;

background: #FFFFFF;
}




/* Username: */
label#userLabel {
    position: absolute;
    width: 104px;
    height: 28px;
    left: 222px;
    top: 222px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}


/* Password: */
label#passLabel {
    position: absolute;
    width: 104px;
    height: 28px;
    left: 222px;
    top: 281px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}


/* Username goes here */
input#user {
    position: absolute;
    width: 147px;
    height: 22px;
    left: 296px;
    top: 255px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}


/* Password goes here */
input#pass {
    position: absolute;
    width: 147px;
    height: 22px;
    left: 296px;
    top: 314px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}


/* sinfonia_img_login */
/*
position: absolute;
width: 117px;
height: 130px;
left: 326px;
top: 99px;

border: 0.5px solid #000000;
border-radius: 18px;*/


/* Sign In Button */
button#signIn {
    position: absolute;
    visibility: hidden;
    width: 117px;
    height: 30px;
    left: 319px;
    top: 345px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #282A2B;
}


/* sinfonia_img_login */
img#bigLogo {
    position: absolute;
    width: 117px;
    height: 130px;
    left: 319px;
    top: 345px;

    background: #FEFEFE;
    border: 0.5px solid #000000;
    border-radius: 18px;
}