/* Rectangle 6 */
form#signInForm {
    padding: 30px 20px 0px 20px;
    margin: auto;
    width: 386px;
    height: 195px;
    
    background: #FEFEFE;
    mix-blend-mode: darken;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* white_bg_sinfonia */
#back {
    width: 118px;
    height: 141px;

    background: #FFFFFF;
}




/* Username: */
label#userLabel {
    width: 104px;
    height: 28px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}


/* Password: */
label#passLabel {
    width: 104px;
    height: 28px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}


/* Username goes here */
input#user {
    width: 147px;
    height: 22px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}


/* Password goes here */
input#pass {
    width: 147px;
    height: 22px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}


/* Sign In Button */
input#submit-button {
    margin: auto;
    width: 117px;
    height: 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: block;
    align-items: center;
    text-align: center;
    
    
}

input.submit-button {
    transition: 300ms;
    color: #282A2B;
    background-color: #FEFEFE;
    border-width: thin;
    border-radius: 18px;
}

input.submit-button:hover {
    transition: 300ms;
    color: #FEFEFE;
    background-color: #931313;
}

/* sinfonia_img_login */
img#bigLogo {
    position: relative;
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: -30px;
    width: 117px;
    height: 130px;

    background: #FEFEFE;
    border: 0.5px solid #000000;
    border-radius: 18px;
}